/* --- RESET E SCROLL --- */
body,
html {
    margin: 0;
    height: auto;
    /* Permettiamo alla pagina di crescere in altezza */
    overflow-x: hidden;
    /* Niente scorrimento orizzontale */
    overflow-y: auto;
    /* Permettiamo lo scorrimento verticale */
    font-family: 'Segoe UI', sans-serif;
    background-color: #ffffff;
}

.app-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#blocco-titolo{
    padding: 20px;
    background-color: #7a7f84;
    color: white;
    text-align: center;
}

/* --- PARTE SOPRA --- */
.top-half {
    display: flex;
    height: 100vh;
    width: 100%;
}

.sidebar {
    width: 35%;
    background: #2c3e50;
    color: white;
    padding: 20px;
    flex-shrink: 0;
}

#map-italia {
    width: 65%;
    background-color: #ffffff !important;
}

/* --- PARTE SOTTO --- */
.bottom-half {
    display: flex;
    height: 100vh;
    border-top: 5px solid #2c3e50;
    background: #ffffff;
}

.nascosto {
    display: none !important;
}

.pannello-tabella {
    width: 40%;
    flex: none;
    padding: 30px;
    overflow-y: auto;
    border-right: 1px solid #eee;
}

#map-regione {
    width: 60%;
    flex: none;
    background-color: #ffffff !important;
}

/* Pulizia Leaflet */
.leaflet-container {
    background: #fff !important;
    outline: 0;
}

/* Rimuove il rettangolo nero di focus quando si clicca una provincia */
path.leaflet-interactive:focus,
path:focus,
svg:focus {
    outline: none !important;
}